{%extends "mainpage.html"%}
{%block main%}
<header style="text-align:center"><h1>/{{board.short_name}}/ - {{board.name}}</h1></header>
<div style="text-align:center">
	New thread:<br>
	<form method="post" action="/addthread/{{board.short_name}}" enctype="multipart/form-data">
	name: {{form.name}}<br>
	title: {{form.title}}<br>
	post: {{form.post}}<br>
	image: {{form.image}}<br>
	<input type="submit">
	</form>
	{% with messages=get_flashed_messages() %}
	{% if messages %}
	<ul>
	{% for m in messages %}
		<li>{{m}}</li>
	{% endfor %}
	</ul>
	{% endif %}
{% endwith %}
</div>
{% for t in threads %}
	{% with p=t.iposts.first() %}
		<div>
			{% if user.name %}
				[ <a href="/delete_thread/{{t.id}}">DELETE</a> ]
			{% endif %}
			<span style="color: blue; font-weight:bold">{{p.name}}</span>
			<span style="color: red; font-weight:bold">{{p.title}}</span>
			{{p.title}} {{p.time}}
			No. <a href="#">{{p.id}}</a>
			[ <a href="/thread/{{p.ithread.id}}">Reply</a> ]
		</div>
		<div>
		{% if p.origfile %}
			<a href="{{p.imgpath()}}"><img src="{{p.thumbpath()}}" style="float:left"></a>
		{% endif %}
		{{p.quotedpost(forceurl=True, cutlines=True)|safe}}
		<div class="threadinfo">
			{{t.iposts.count()}} posts in total
		</div>
		</div>
	{% endwith %}
	{% for p in t.iposts.order_by("time desc").limit(config['PREVIEW_POSTS'])|reverse %}
		{% if p != t.iposts.first() %}
			<div class="postwarrow">
				<div style="float: left">
					&gt;&gt;&nbsp;&nbsp;
				</div>
				<div class="postbox">
					<div class="postheader">
						{% if user.name %}
							[ <a href="/delete_post/{{p.id}}">DELETE</a> ]
						{% endif %}
						<span style="color: blue; font-weight:bold">{{p.name}}</span>
						<span style="color: red; font-weight:bold">{{p.title}}</span>
						{{p.title}} {{p.time}}
						No. <a href="/thread/{{p.ithread.id}}#{{p.id}}">{{p.id}}</a>
					</div>
					<div>
						{% if p.origfile %}
							File: {{p.origfile}} ({{p.imgfilesize()}} byte, {{p.imgsize()}})<br>
							<a href="{{p.imgpath()}}"><img src="{{p.thumbpath()}}" style="float:left"></a>
						{% endif %}
						<div class="posttext">
							{{p.quotedpost(forceurl=True, cutlines=True)|safe}}
						</div>
					</div>
				</div><!--postbody-->
			</div><!--post /w arrow-->
		{% endif %}
		<br>
	{% endfor %}
	<hr style="clear:both">
{% endfor %}
<div>Pages: 
{% for p in pages %}
	{% if p == curr_page %}
		[ <b>{{p}}</b> ] 
	{% else %}
		[ <a href="/board/{{board.short_name}}?p={{p}}">{{p}}</a> ]
	{% endif %}
{% endfor %}
</div>
{%endblock%}