<!DOCTYPE html>
<html>
<head>
<style>
p{margin: 0px}
img{margin: 3px}
.postbox{
	padding: 5px;
	background-color: cyan;
	padding: 7px;
	display:table;
}
.posttext{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}
.postheader{
	margin-bottom: 10px;
}
.threadinfo{
	color: gray;
	font-size:-2px;
}
</style>
</head>
<body>
Boards: {% for b in boards %}
	[ <a href="/board/{{b.short_name}}" alt="{{b.name}}">/{{b.short_name}}/</a> ]&nbsp;&nbsp;
{% endfor %}
{% if user.name %}
	<div style="float:right">
	logged in as {{user.name}} [ <a href="/admin">admin</a> ][ <a href="/logout">logout</a> ]
	</div>
{% endif %}
<br>
{% block main %}
{%endblock%}
{%block js%}
{%endblock%}
</body>
</html>